html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.text {
  color: gray;
  font-weight: 700;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  cursor: pointer;
  width: 200px;
}

.main {
  flex: 1;
}
